app/pkgs/Wadl/PrintLogExtended.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PrintLogExtended" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Print Log Extended" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <string name="ManualTriggerInput_text_10_def" />
      <string name="ManualTriggerInput_text_11_def" />
      <string name="ManualTriggerInput_text_12_def" />
      <string name="ManualTriggerInput_text_13_def" />
      <string name="ManualTriggerInput_text_14_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text_6" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
        <property name="text_9" type="string" />
        <property name="text_10" type="string" />
        <property name="text_11" type="string" />
        <property name="text_12" type="string" />
        <property name="text_13" type="string" />
        <property name="text_14" type="string" />
      </object>
      <string name="ResponseActionOutput_printfile_def" />
      <object name="ResponseActionOutput">
        <property name="printfile" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Category" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Log Name" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Schedule Date" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="Maintenance Details 1" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string">
              <doc title="Maintenance Details 2" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string">
              <doc title="Maintenance Details 3" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string">
              <doc title="Maintenance Details 4" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string">
              <doc title="Maintenance Details 5" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string">
              <doc title="Maintenance Details 6" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string">
              <doc title="Maintenance Details 7" />
            </param>
            <param style="plain" name="text_10" path="/text_10" type="xs:string">
              <doc title="Maintenance Details 8" />
            </param>
            <param style="plain" name="text_11" path="/text_11" type="xs:string">
              <doc title="Maintenance Details 9" />
            </param>
            <param style="plain" name="text_12" path="/text_12" type="xs:string">
              <doc title="Maintenance Details 10" />
            </param>
            <param style="plain" name="text_13" path="/text_13" type="xs:string" required="true">
              <doc title="Store Details" />
            </param>
            <param style="plain" name="text_14" path="/text_14" type="xs:string" required="true">
              <doc title="Language" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>